@page
@model RecruitCatPinisera.Pages.Candidates.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Candidates</h1>

<h4>Candidate</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Candidate.CandidateId" />
            <div class="form-group">
                <label asp-for="Candidate.FirstName" class="control-label"></label>
                <input asp-for="Candidate.FirstName" class="form-control" />
                <span asp-validation-for="Candidate.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Candidate.LastName" class="control-label"></label>
                <input asp-for="Candidate.LastName" class="form-control" />
                <span asp-validation-for="Candidate.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Candidate.TargetSalary" class="control-label"></label>
                <input asp-for="Candidate.TargetSalary" class="form-control" />
                <span asp-validation-for="Candidate.TargetSalary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Candidate.OptStartDate" class="control-label"></label>
                <input asp-for="Candidate.OptStartDate" class="form-control" />
                <span asp-validation-for="Candidate.OptStartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Candidate.DOB" class="control-label"></label>
                <input asp-for="Candidate.DOB" class="form-control" />
                <span asp-validation-for="Candidate.DOB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Candidate.EmailId" class="control-label"></label>
                <input asp-for="Candidate.EmailId" class="form-control" />
                <span asp-validation-for="Candidate.EmailId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Candidate.ContactNo" class="control-label"></label>
                <input asp-for="Candidate.ContactNo" class="form-control" />
                <span asp-validation-for="Candidate.ContactNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Candidate.Skills" class="control-label"></label>
                <textarea asp-for="Candidate.Skills" class="form-control"></textarea>
                <span asp-validation-for="Candidate.Skills" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Candidate.WorkExp" class="control-label"></label>
                <input asp-for="Candidate.WorkExp" class="form-control" />
                <span asp-validation-for="Candidate.WorkExp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Candidate.CompanyId" class="control-label"></label>
                <select asp-for="Candidate.CompanyId" class="form-control" asp-items="ViewBag.CompanyName"></select>
                <span asp-validation-for="Candidate.CompanyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Candidate.JobTitleId" class="control-label"></label>
                <select asp-for="Candidate.JobTitleId" class="form-control" asp-items="ViewBag.Title"></select>
                <span asp-validation-for="Candidate.JobTitleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Candidate.IndustryId" class="control-label"></label>
                <select asp-for="Candidate.IndustryId" class="form-control" asp-items="ViewBag.IndustryName"></select>
                <span asp-validation-for="Candidate.IndustryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
