@page
@model RecruitCatPinisera.Pages.ContactUsModel
@{
    ViewData["Title"] = "ContactUs";
}
<div>
    <h1 class="text-center">Contact Details</h1>
    <div id="container" style="display: inline-block;">
        <span style="padding:30px;float:left">
            <p style="padding-bottom:20px"><bold>CUSTOMER SUPPORT</bold></p>
            <p style="text-align:left">
                VENTURA SUPREME CARS Client Support<br>
                Banbury Road<br>
                Gaydon<br>
                Warwick<br>
                CV35 0DB<br>
                United Kingdom<br>
                US customers: (866) 278-6661
            </p>
        </span>
        <span style="padding:30px;float:right">
            <p style="padding-bottom:20px"><bold>General Enquiries</bold></p>
            <p style="text-align:left">
                VENTURA SUPREME CARS <br>
                Banbury Road<br>
                Gaydon<br>
                Warwick<br>
                CV35 0DB<br>
                United Kingdom<br>
                Gaydon Headquarters Switchboard: +44 (0)1926 644644<br>
                US customers: (866) 278-6661
            </p>
        </span>
        <span style="padding:30px;float:right">
            <p style="padding-bottom:20px"><bold>ROADSIDE ASSISTANCE</bold></p>
            <p style="text-align:left">
                US ROADSIDE ASSISTANCE<br>
                Tel: 1-888-59ASTON<br>
                Tel: 1-888-592-7866
            </p>
        </span>
    </div>
</div>