@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center" style="background-color:lightgray">
    <h1 class="display-4" style="font-size:40px ;color:blue"><strong>WELCOME TO SUPREME CARS</strong></h1>
    <h2 style="padding-top:20px">
        ABOUT US
    </h2>
    <h5 style="padding:15px">
        This is a team with a rich heritage and a fresh perspective, bringing new energy to the sport with a determination to shake up the order and compete at the sharp end. One of the most famous emblems in the world is displayed above our garage, and our team is made up of close to 500 passionate men and women. Everyone is welcome and we are all in this together.
    </h5>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/1996_Porsche_911_993_GT2_-_Flickr_-_The_Car_Spy_%284%29.jpg/440px-1996_Porsche_911_993_GT2_-_Flickr_-_The_Car_Spy_%284%29.jpg" width="800px" height="600px" alt="Home image">
</div>
