@page
@model RecruitCatPinisera.Pages.OurTeamModel
@{
    ViewData["Title"] = "Team";
}
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3>Michael Schumacher</h3>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c6/Michael_Schumacher_2005_United_States_GP_%2819872855%29_%28cropped%29.jpg/189px-Michael_Schumacher_2005_United_States_GP_%2819872855%29_%28cropped%29.jpg" width="200px" height="200px" alt="Vettel">
        </div>
        <div class="col-sm-4">
            <h3>Raveena Pinisetti</h3>
            <img src="https://media-exp1.licdn.com/dms/image/C5603AQEpGYwhn-elkQ/profile-displayphoto-shrink_800_800/0/1644255343740?e=1668038400&v=beta&t=Y0-s4fsaxIQ1iPT2_c1eKAvzZJYI8Ay1GYdLqa41Vyg" width="200" height="200" alt="PINISERA">
        </div>
        <div class="col-sm-4">
            <h3>Alian Prost</h3>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/97/Alain_Prost_2009_MEDEF_cropped.jpg/182px-Alain_Prost_2009_MEDEF_cropped.jpg" width="200px" height="200px" alt="Stroll">
        </div>
    </div>
</div>