@page
@model RecruitCatPinisera.Pages.TestimonialsModel
@{
    ViewData["Title"] = "Testimonial";
}

<p style="padding-bottom:5px">Zack on his experience with Supreme Cars:</p>
<p>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/79/Zack_Snyder_by_Gage_Skidmore_2.jpg/440px-Zack_Snyder_by_Gage_Skidmore_2.jpg" width="200px" height="200px" alt="Vettel">
    "He said: 'I want to come here because I want the best luxury sports cars.'
</p>

<p style="padding-bottom:5px">Martin on his experience with Supreme Cars:</p>
<p>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/74/Martin_Garrix_%40_Web_Summit_2017.jpg/440px-Martin_Garrix_%40_Web_Summit_2017.jpg" width="200px" height="200px" alt="Vettel">
    "He said: 'Best service possible by the whole team of Supreme Cars. Great Job!!'
</p>